<div class="container-fluid">
<pre>
$$\   $$\  $$$$$$\  $$\    $$\  $$$$$$\   $$$$$$\   $$$$$$\  $$$$$$$\  $$$$$$\ $$$$$$$\ $$$$$$$$\ 
$$ |  $$ |$$  __$$\ $$ |   $$ |$$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ \_$$  _|$$  __$$\\__$$  __|
$$ |  $$ |$$ /  $$ |$$ |   $$ |$$ /  $$ |$$ /  \__|$$ /  \__|$$ |  $$ |  $$ |  $$ |  $$ |  $$ |   
$$$$$$$$ |$$ |  $$ |\$$\  $$  |$$$$$$$$ |\$$$$$$\  $$ |      $$$$$$$  |  $$ |  $$$$$$$  |  $$ |   
$$  __$$ |$$ |  $$ | \$$\$$  / $$  __$$ | \____$$\ $$ |      $$  __$$ |  $$ |  $$  ____/   $$ |   
$$ |  $$ |$$ |  $$ |  \$$$  /  $$ |  $$ |$$\   $$ |$$ |  $$\ $$ |  $$ |  $$ |  $$ |        $$ |   
$$ |  $$ | $$$$$$  |   \$  /   $$ |  $$ |\$$$$$$  |\$$$$$$  |$$ |  $$ |$$$$$$\ $$ |        $$ |   
\__|  \__| \______/     \_/    \__|  \__| \______/  \______/ \__|  \__|\______|\__|        \__|   
                                                                     brought to you by hamitron      
</pre>
<div class="col-sm-2">
</div>
</div>